<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA41gJuIv3ret-Xrsmt_7pic7PFBsGFVyc</string>
	<key>GCM_SENDER_ID</key>
	<string>348164550304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.examenMachuca</string>
	<key>PROJECT_ID</key>
	<string>examen-eab33</string>
	<key>STORAGE_BUCKET</key>
	<string>examen-eab33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348164550304:ios:dd942ef6066b45795c63c5</string>
</dict>
</plist>